# Default ignored files
/../../ass./.idea/shelf/
/../../ass./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../ass./.idea/httpRequests/
# Datasource local storage ignored files
/../../ass./.idea/dataSources/
/../../ass./.idea/dataSources.local.xml
